.App {
    text-align: center;
}

.session-button {
    height: 50px;
    border: none;
    margin: 0;
    color: #FFFFFF;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
}

.select-button {
    flex: 4;
    background-color: #00B9FF;
    padding-left: 24px;
}

.delete-button {
    flex: 1;
    background-color: #f44336;
    text-align: center;
}

.button-container {
    display: flex;
    width: 100%;
    border: 1px solid #000;
    margin-bottom: 10px;
    background-color: #fff;
}

.session-sidebar, .sidebar.chat-session, .chatbox {
    background-color: #FFFFFF;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
